
@import url("header.css");
@import url("article.css");
@import url("metrics.css");
@import url("jobs.css");
@import url("forms.css");
@import url("testimony.css");
@import url("footer.css");



:root{
    --background-color: white;
    --dark-grey: #3A404E;
    --light-grey: #667085;
    --red: #8E2424;
    --white: white;
    --principal-font: "Inter";
    --dark-blue: #101828;
    --superlight-grey: #F9FAFB;
}

body{
    background-color: var(--background-color);
    font-family: var(--principal-font);
    font-size: 16px;
    font-weight: 400;
}

