.testimony{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--superlight-grey);
    padding: 2em;
}

.testimony__title {
    color: var(--red);
    font-size: 16px;
    font-weight: 600;
    padding: 1em 0;

}

.testimony__text {
    color: var(--dark-blue);
    font-size: 36px;
    font-weight: 500;
}

.testimony__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimony__profile-picture {
    border-radius: 50%;
}

.testimony__profile {
    padding: 1em;
    margin: 1em;
}

.testimony__profile-name {
    color: var(--dark-blue);
    font-weight: 500;
    padding-top: 0.5em;
}

.testimony__profile-job {
    color: var(--light-grey);
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .testimony__text{
        font-size: 20px;
    }

    .testimony__profile {
        margin-bottom: 0;
        padding: 0;
    }
    
}